body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Calculator', sans-serif;
                                                
}

.container {
    border-radius: 1%;
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(59, 59, 61);
}




.screen {
    display: flex;
    width: 90%;
    height: 20%;
    margin-top: 2.5%;
    align-self: center;
    align-items: end;
    justify-content: center;
    background-color: black;
    
}

.inner {
    display: flex;
    background-color: rgb(198, 198, 223);
    width: 96%;
    height: 90%;
    align-self: center;
    align-items: end;
    justify-content: right;
    font-size: 75px;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    
}

.bottom button {
    border-radius: 0%;
    width: 25%;
    height: 20%;
    border: 1px solid black;
}

.bottom .zero {
    width: 50%;
}

#digit {
    background-color: #54b390; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
}

#operator, #equal {
    background-color: #5498b3; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#ce, #clear, #percent {
    background-color: #b36254; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
